@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HankenGrotesk";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

html, body, #root {
  height: 100%;
}